.one {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}

.two {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 100%;
}

.three {
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 100%;
}