@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.line {
    width: 100%;
    height: 4px;
    background-color: black;
}

.name {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    left: 0;
}

.h1img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    gap: 22px;
}

.as {
    text-decoration: none;
    color: black;

    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;

    margin-top: 30px;
}

.as:hover {
    font-size: 23px;
}

.divider {
    height: 300px;
}




/* DIVIDER: ABOUT ME */





.abt {
    display: flex;
    align-items: center;
}

.abtimg {
    height: 220px;
    border-radius: 100%;

    margin-left: 170px;
    margin-top: 60px;
}

.abth1 {
    margin-left: 70px;
}

.nam {
    margin-left: 50px;
}




/* DIVIDER: CONNECTIONS */





.divider1 {
    width: 500px;
}

.connections {
    width: 600px;
    height: 200px;

    border: 1.3px solid black;
    border-radius: 15px;
}

.con {
    margin-left: 22px;
    margin-bottom: 40px;
}

.links {
    margin-left: 30px;
    gap: 20px;
    
    text-decoration: none;
    color: black;

    transition: ease-in-out 0.4s;
}

.links:hover {
    cursor: pointer;
    font-size: 1.2em;
}



/* DIVIDER: FOOTER */


footer {
    background-color: #333333bd;
    color: white;

    text-align: center;
    padding: 20px;
    position: relative;

    bottom: 0;
    width: auto;
}

footer a {
    color: #fff;
    text-decoration: none;

    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0 0 0;
}